@using Carfamsoft.Model2View.Mvc.Models
@using Carfamsoft.Model2View.Shared.Collections
@using Carfamsoft.Model2View.Shared.Extensions
@model DisplayAutoInputModel
@{
    if (Model == null || Model.Metadata == null || Model.Metadata.Attribute == null)
    {
        return;
    }
    var metadata = Model.Metadata;
    var attr = metadata.Attribute;
    var attrs = CollectionExtensions.GetAttributes
    (
        ("type", "file"),
        ("id", Model.InputId),
        ("name", Model.InputName),
        ("placeholder", attr.Prompt),
        ("title", attr.Description),
        ("accept", attr.FileAttribute?.Accept),
        ("multiple", attr.FileAttribute?.Multiple)
    );
    var inputBuilder = new TagBuilder("input");
    foreach (var a in attrs)
    {
        string value = (a.Value is bool) ? a.Key : a.Value.ToString();
        inputBuilder.Attributes.Add(a.Key, value);
    }
    <div class="input-group mb-3">
        <label class="input-group-text" for="@Model.InputId">
            @if (attr.Icon.IsNotBlank())
            {
                <text><i class="@attr.Icon"></i>&nbsp;</text>
            }
            @metadata.GetDisplayName()
        </label>
        @inputBuilder.ToString(TagRenderMode.SelfClosing)
    </div>
}
