.form-floating {
    position: relative;
}

    .form-floating > .form-control, .form-floating > .form-select {
        height: calc(3.5rem + 2px);
        line-height: 1.25;
    }

    .form-floating > label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem 0.75rem;
        pointer-events: none;
        border: 1px solid transparent solid transparent;
        transform-origin: 0 0;
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }

    .form-floating > .form-control {
        padding: 1rem 0.75rem;
    }

        .form-floating > .form-control::placeholder {
            color: transparent;
        }

        .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
            padding-top: 1.625rem;
            padding-bottom: 0.625rem;
        }

        .form-floating > .form-control:-webkit-autofill {
            padding-top: 1.625rem;
            padding-bottom: 0.625rem;
        }

    .form-floating > .form-select {
        padding-top: 1.625rem;
        padding-bottom: 0.625rem;
    }

        .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
            opacity: 0.65;
            transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
        }

    .form-floating > .form-control:-webkit-autofill ~ label {
        opacity: 0.65;
        transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
    }

.input-group .form-floating {
    flex-grow: 2;
}

.form-floating > .form-control:focus ~ label {
    color: #6200ee;
    font-weight: 600;
}

.form-floating > textarea.form-control:focus, .form-floating > textarea.form-control:not(:placeholder-shown), .form-floating > .form-select {
    padding-top: 2.5rem;
}

    .form-floating > textarea.form-control:focus ~ label, .form-floating > textarea.form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
        opacity: .9;
        transform: scale(0.75) translateY(0.1rem) translateX(0.15rem);
        background: white;
        height: 50px;
        width: 100%;
        font-weight: 600;
    }
