@inherits ModalDialogButtonBase

@{
	var attrs = GetAttributes
	(
		("class", CssClass),
		("aria-controls", AriaControls),
		("data-bs-toggle", "offcanvas")
	);
}
<a href="@LinkUrl" role="button" @onclick="OnClick" @attributes="AdditionalAttributes.Merge(attrs)">
	<ContentIconText Icon="@Icon" Text="@Text" ChildContent="ChildContent!" />
</a>
@code {
	/// <inheritdoc />
	protected override bool IsLink => true;
	private string AriaControls => true == Target?.StartsWith("#") || true == Target?.StartsWith(".") ? Target.Substring(1) : "";
}