<h5>Drop Response Options</h5>
<div class="small text-muted">
    <em>
        Drop response options are properties defined <strong>after</strong>
        a drop event notification is received in the application. <br />
        This is an opportunity to further impose restrictions on how the dropped
        files are handled, not at design but rather at run-time.
    </em>
</div>