@using BlazorFormManager.IO

@if (Model != null)
{
    <CascadingValue Value="this">
        <div class="mb-3">
            <DragDropOptionsCard />
            @if (Model.Files.Count > 0)
            {
                <div class="mt-3">
                    <h6 class="border-bottom pb-2">
                        <span>
                            Files dropped onto the target area:
                            @Model.FileCount (@InputFileInfo.FileSizeToString(Model.DroppedFileSize))
                        </span>
                        <span class="float-md-right">
                            Upload size: @InputFileInfo.FileSizeToString(Model.UploadFileSize)
                        </span>
                    </h6>
                    <div class="clearfix"></div>
                    <InputFileInfoTable Files="Model.Files" FileCount="Model.ProcessedFiles.Count" PageSize="PAGE_SIZE" OnPageChange="HandlePageChange"/>
                    @if (!Model.DropResponse.Cancel)
                    {
                        <h6 class="border-bottom mt-4 pb-2">Files read</h6>
                    }
                </div>
            }
        </div>
    </CascadingValue>
}

@code {
    [Parameter] public DragDropOptions Model { get; set; }

    public void NotifyStateChanged()
    {
        StateHasChanged();
    }

    private const int PAGE_SIZE = 20;

    private void HandlePageChange(int page)
    {
        var files = Model.Files;
        files.Clear();
        files.AddRange(Model.ProcessedFiles.Skip((page - 1) * PAGE_SIZE).Take(PAGE_SIZE));
        StateHasChanged();
    }
}
