@page "/account/update"
@inherits FormManagerBase<UpdateUserModel>

@if (Model != null)
{
    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit"
        id="@FormId" action="api/account/update" enctype="multipart/form-data"
        @attributes="AdditionalAttributes">
        <CascadingValue Value="this">
            <DemoHeader Title="Form Manager Demo: Inheritance" SubTitle="Update User Information"
                        LogLevel="LogLevel" OnLogLevelChanged="level => LogLevel = level" />
            <div class="row">
                <div class="col-md-4"><UserModelInputs Model="Model" /></div>
                <div class="col-md-4"><Base64RemoteImage Src="api/account/photo" @ref="RemoteImgRef" /></div>
            </div>
            <SubmitButton Manager="this" Text="Save" ForceSubmit />
            <DataAnnotationsValidator />
            <FormSubmitResultView />
        </CascadingValue>
    </EditForm>
    @if (IsDebug)
    {
        <FormDebugInfo Model="XhrResult" Options="DebugOptions" />
        <UnsupportedBrowserProperties Model="AjaxUploadNotSupported?.ExtraProperties" />
    }
    @if (IsUploadingFiles)
    {
        <UploadProgressBar Progress="Progress" UploadStatusMessage="@UploadStatus" OnCancelRequested="() => AbortRequested = true" />
    }
}
