@page "/"

<h3 class="pb-3 border-bottom">Welcome to Blazor Form Manager</h3>
<p>Pick up a demo activity to get started.</p>
<ul>
    <li>Composition Demo: <a href="account/register">User registration</a></li>
    <li>
        Inheritance Demo: <a href="account/update">Update user info</a>
        <AuthorizeView>
            <NotAuthorized>(authentication required)</NotAuthorized>
        </AuthorizeView>
    </li>
</ul>

