@typeparam TModel
@inherits FormManagerBase<TModel>

@if (EditContext != null)
{
    <div class="blazor-form-manager">
        <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit"
                  id="@FormId" action="@FormAction" method="@FormMethod" enctype="multipart/form-data"
                  @attributes="AdditionalAttributes">
            @ChildContent
        </EditForm>
        <FormSubmitResultView Result="SubmitResult" />
        @if (EnableProgressBar && IsUploadingFiles)
        {
            <UploadProgressBar Progress="Progress" UploadStatusMessage="@UploadStatus" CanCancel="CanCancelUpload" OnCancelRequested="() => AbortRequested = true" />
        }
        @if (IsDebug)
        {
            <FormDebugInfo Model="XhrResult" Options="DebugOptions" />
            <UnsupportedBrowserProperties Model="AjaxUploadNotSupported?.ExtraProperties" />
        }
    </div>
}
