@if (Metadata != null)
{
    var group = Metadata;
    <fieldset class="display-group">
        @if (group.ShowName)
        {
            <legend>@group.Name</legend>
        }
        <div class="display-group-body @group.CssClass">
            @foreach (AutoInputMetadata data in group.Items)
            {
                <div class="@data.Attribute.ColumnCssClass">
                    <AutoInput Metadata="data">@ChildContent</AutoInput>
                </div>
            }
        </div>
    </fieldset>
}

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public FormDisplayGroupMetadata Metadata { get; set; }
}
