<div class="form-group">
    @if (!string.IsNullOrWhiteSpace(LabelText))
    {
        <label for="@Id" class="control-label">@LabelText</label>
    }
    else if (LabelContent != null)
    {
        @LabelContent
    }
    <div class="input-group">
        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="@Icon"></i>
                </span>
            </div>
        }
        @ChildContent
    </div>
    @if (ValidationContent != null)
    {
        @ValidationContent
    }
</div>

@code {
    [Parameter] public string Id { get; set; } = typeof(InputGroupContainer).GenerateId();
    [Parameter] public string Icon { get; set; }
    [Parameter] public string LabelText { get; set; }
    [Parameter] public RenderFragment LabelContent { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment ValidationContent { get; set; }
}
