@if (Error != null)
{
    var err = Error;
    if (err.Message == "''")
        err = new Exception(err.ToString());

    <div class="alert alert-danger">
        @err.Message
    </div>
}

@code {
    [Parameter] public Exception Error { get; set; }
}
