<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Form Manager Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="account/register">
                        <i class="fas fa-user"></i> &nbsp; User Registration
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="account/auto-edit-form/register">
                        <i class="fas fa-edit"></i> &nbsp; With Auto Edit Form
                    </NavLink>
                </li>
            </NotAuthorized>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="account/update">
                        <i class="fas fa-user"></i> &nbsp; Update User Info
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="account/autoeditform">
                        <i class="fas fa-edit"></i> &nbsp; With Auto Edit Form
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="drag-drop">
                <i class="fas fa-hand-pointer"></i> &nbsp; Drag &amp; Drop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="auto-table">
                <i class="fas fa-list"></i> &nbsp; Auto Table
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="rich-text-editor">
                <i class="fas fa-edit"></i> &nbsp; Rich Text Editor
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
