@if (Manager != null)
{
    <div class="form-group">
        <button type="@ButtonType" class="btn btn-primary" @onclick="HandleClick" disabled="@SubmitDisabled">
            @if (Manager.IsLongRunning)
            {
                <div><Loader Small/> <span class="float-left">&nbsp;@Text</span></div>
            }
            else
            {
                <span><i class="fa fa-save"></i>&nbsp;@Text</span>
            }
        </button>
        @if (Manager.IsDebug)
        {
            <button type="button" class="btn btn-danger"
                    title="Simulate AJAX upload with progress report not supported by browser"
                    @onclick="Manager.RaiseAjaxUploadWithProgressNotSupportedAsync">
                Show Browser Info
            </button>
        }
    </div>
}

@code {
    [Parameter] public FormManagerBase Manager { get; set; }
    [Parameter] public string Text { get; set; }

    /// <summary>
    /// When the form has no validation errors, true to force its submission; otherwise, false.
    /// </summary>
    [Parameter] public bool ForceSubmit { get; set; }

    /// <summary>
    /// Indicates whether the button is disabled or not.
    /// </summary>
    [Parameter] public bool Disabled { get; set; }

    private string ButtonType => ForceSubmit ? "button" : "submit";

    private async Task HandleClick()
    {
        if (ForceSubmit) await Manager.SubmitFormAsync();
    }

    private bool SubmitDisabled => Disabled || Manager.IsRunning;
}
