@inherits AutoFormEntryBase

@if (Metadata != null)
{
    var metadata = Metadata;
    var attr = metadata.Attribute;
    var culture = Form?.Culture;
    var descr = metadata.GetDisplayString(attr.Description, culture);
    var placeholder = metadata.GetDisplayString(attr.Placeholder, culture);
    var attrs = GetAttributes
    (
        ("id", InputId),
        ("name", InputName),
        ("class", attr.InputCssClass),
        ("placeholder", placeholder),
        ("title", descr),
        ("accept", attr.FileAttribute?.Accept),
        ("multiple", attr.FileAttribute?.Multiple)
    );
    <div class="input-group mb-3">
        <label class="input-group-text" for="@InputId">
            @if (attr.Icon.IsNotBlank())
            {
                <text><i class="@attr.Icon"></i>&nbsp;</text>
            }
            @(placeholder ?? metadata.GetDisplayName(culture))
        </label>
        <input type="file" @onchange="e => Value = e.Value" @attributes="attrs">
    </div>
    <HelpText Description="@descr"/>
}
