@inherits AutoFormEntryBase

@if (Metadata != null)
{
	var meta = Metadata;
	var attr = meta.Attribute;
	var culture = Form?.Culture;
	_ = attr.GetElement(out var type);

	var attributes = GetAttributes
	(
		("type", type),
		("id", InputId),
		("name", InputName),
		("title", meta.GetDisplayString(attr.Description, culture)),
		("class", attr.InputCssClass ?? "form-check-input")
	);

	var classlist = attr.CheckNoLabel 
		? string.Empty
		: $"form-check{(attr.CheckSwitch ? " form-switch" : string.Empty)}{(attr.CheckInline ? " form-check-inline" : string.Empty)}";

	var extraAttrs = attr.GetExtraAttributes();

	if (extraAttrs.ContainsKey("class"))
		classlist += $" {extraAttrs["class"]}".Trim();

	<div @attributes="@(GetAttributes(("class", classlist)))">
		<input @attributes="attributes" @bind-value="Value">
		@if (!attr.CheckNoLabel)
		{
			var cls = "form-check-label" + (meta.IsRequired ? " required" : string.Empty);
			<label @attributes="@(GetAttributes(("class", cls), ("for", InputId)))">@meta.GetDisplayName(culture)</label>
		}
	</div>
	<AutoValidationMessage Model="Model" Property="@meta.PropertyInfo.Name" />
}
