@{
    var recaptcha = Form?.ReCaptcha;
    if (recaptcha is not null)
    {
        if (recaptcha.SiteKey.IsNotBlank() && recaptcha.Version.EqualsIgnoreCase("v2"))
        {
            var cssClass = recaptcha.CssSelector;

            if (cssClass.IsBlank()) cssClass = "g-recaptcha";

            if (cssClass.StartsWith("."))
                cssClass = cssClass.Substring(1);

            var attrs = GetAttributes(
                ("id", Id),
                ("class", cssClass)
            );

            <div @attributes="attrs"></div>
        }
    }
}

@code {
    private readonly string Id = typeof(ReCaptcha).Name.GenerateId(camelCase: true);

    [CascadingParameter] private FormManagerBase? Form { get; set; }
}
